.card {
  width: 300px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.025);
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: large;
  border: 2px solid #3498db;
  margin-top: 50px;
}

@media (max-width: 600px) {
  .card {
    width: 45%;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .text-input {
    width: 50%;
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-input {
  font-size: large;
  border: 2px solid #3498db;
  border-radius: 8px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  color: #2c3e50;
  font-weight: bold;
}

.btn {
  margin-top: 15px;
  font-size: large;
  border: 1px solid #e9d8e4;
  border-radius: 8px;
  background-color: #27ae60;
  color: #ffffff;
  padding: 12px;
  cursor: pointer;
}

.btn:hover {
  font-size: large;
  border: 1px solid #27ae60;
  border-radius: 8px;
  background-color: #ffffff;
  color: #27ae60;
  padding: 12px;
  cursor: pointer;
}

#weatherContainer {
  margin-top: 10px;
  font-family: Arial, sans-serif;
  font-weight: bold;
}

.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  margin: 20px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

body {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.error-popup {
  display: none;
  position: fixed;
  padding: 15px;
  background-color: #e74c3c;
  color: #ffffff;
  border-radius: 8px;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Arial, sans-serif;
}

.error-popup.show {
  display: block;
}
